body {
    background-color: #F0F0F0;
    margin: 0%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 120px);
    grid-gap: 1rem;
    justify-content: center;
    padding: 25px;
}


button {
    border-radius: 25px;
    background-color: #79CFB8;
    padding: 2rem;
    transition: transform 0.4s;
    color: white;
    justify-content: center;
    display: flex;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Mountains of Christmas';
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.grid > button:hover {
    transform: scale(1.05);
}

/*.grid > button:visited {
//    background-color: pink;
}*/


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    font-family: Helvetica;
}

/* Modal Body */
.modal-body {
    padding: 2px 16px;
}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    background-color: #7CA621;
    color: #F0F0F0;
}

/* Modal header */
.modal-header {
    padding: 2px 16px;
    background-color: #7CA621;
    color: #F0F0F0;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #D9D0BF;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: #F0F0F0;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#banner {
    width: auto;
    height: 300px;
}

.banner {
    width:100%;
    height:100%;
    object-fit:fill;
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

.BannerFont {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Mountains of Christmas';
    font-size: 75px;
    color: #F0F0F0;
    text-align: center;
    transform: translate(0%, -200%);
}

#lore{
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: #F0F0F0;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 100%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    font-family: 'Mountains of Christmas';
    font-size: 25px;
}

.bg-image-lore {
    filter: blur(8px);
    -webkit-filter: blur(8px);
    overflow: hidden;
}

.nav {
	position: sticky;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	top: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;  
}

li {
    float: left;
}

li a {
    display: block;
    color: #F0F0F0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Helvetica;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #7CA621;
}

.signup {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    font-family: Helvetica;
}

.login {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    font-family: Helvetica;
}

.contactbtn {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: #F0F0F0;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-family: Helvetica;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
    padding: 5px;
    border-radius: 2%;
}

.about-section {
    font-family: Helvetica;
    padding: 25%;
}

.life-story {
    font-size: 40px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    width: 100%;
  }
  
  /* Float cancel and signup buttons and add an equal width */
  .cancelbtn, .signupbtn {
    font-family: Helvetica;
    float: left;
    width: 50%;
  }
  
  /* Add padding to container elements */
  .container {
    font-family: Helvetica;
    padding: 16px;
  }

  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Change styles for cancel button and signup button on extra small screens */
  @media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
    font-family: Helvetica;
      width: 100%;
    }
    span.psw {
        display: block;
        float: none;
    }
  }

  .ava {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  /* Avatar image */
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }

  .login {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    width: 100%;
  }

.signupHome {
    background-color: #4CAF50; /* Green */
    border: none;
    color: #F0F0F0;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

.loginHome {
    background-color: #7CA621; /* Green */
    border: none;
    color: #F0F0F0;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    width: 200px;
}

input {
    width: 50px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}
